<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="my_widget" data-view="Text"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="distribution_count" data-view="Number" data-title="Distributions"></div>
    </li>
  </ul>
</div>
