<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="distribution_count" data-view="Number" data-title="Distributions" data-moreinfo="# of distributions"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="participants_by_state" data-view="List" data-unordered="true" data-title="Participants by state" data-moreinfo="Top states by # of participants"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="active_plan_count" data-view="Number" data-title="Active plans" data-moreinfo="# of active plans"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="on_call_count" data-view="Number" data-title="Manually Updated Records"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="total_b4b_aum" data-view="Number" data-title="Total B4B AUM" data-prefix="$"></div>
    </li>
  </ul>
</div>
