<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="distribution_count" data-view="Number" data-title="Distributions" data-moreinfo="# of distributions"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
      <div data-id="plans_by_aum" data-view="List" data-unordered="true" data-title="Tier 1 Clients" data-moreinfo="Our most important clients"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="participants_by_state" data-view="List" data-unordered="true" data-title="Participants By State" data-moreinfo="Top states by # of participants"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="active_plan_count" data-view="Number" data-title="Active plans" data-moreinfo="# of active plans"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="on_call_count" data-view="Number" data-title="Manually Updated Records"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="total_b4b_aum" data-view="Number" data-title="Total B4B AUM" data-prefix="$"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="latest_prime_rate" data-view="Number" data-title="Latest Prime Rate" data-postfix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="on_call_by_month" data-view="Graph" data-title="Manually Updated Records By Month" style="background-color:#ff9618"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #betterment"></div>
      <i class="fa fa-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="paperless_distribution_ratio" data-view="Number" data-title="Paperless Distribution Ratio" data-suffix="%" data-moreinfo="last 3 months"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="ytd_distribution_totals" data-view="Number" style="background-color:#e82711" data-title="YTD Distribution Totals" data-prefix="$"></div>
    </li>
  </ul>
</div>
